$lobal_font_size: 16 !default;

@function rem($pixels, $context: $lobal_font_size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return ($pixels / $context) * 1rem;
}
